@use '../../styles/variables' as *;
.error-home {
  text-decoration: none;
  color: $color-secondary;
  font-size: 1.4em;
  font-weight: 600;
  padding-left: 10px;
}
.error-img {
  width: 1000px;
  position: fixed;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error-msg {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 35px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .error-msg {
    margin-top: 80px;
    font-size: 30px;
  }
}
@media screen and (max-width: 588px) {
  .error-img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    object-position: 0%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .error-msg {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    font-size: 20px;

    width: 100%;
  }
}
