$color-gradient-header: linear-gradient(#f8f8f8, #f2f0f0);
$color-primary: #f2f0f0;
$color-card: #ececec;
$color-secondary: #235d37;
$color-tertiary: #2f2f2f;
$color-tertiary-alt: #343434;

$text-alternate: 'Akshar', sans-serif;

$button-padding: 5px 25px;
$button-border-radius: 30px;
$button-border-style: none;
$button-font-size: 1.2em;

.btn-style-var {
  display: block;
  background-color: $color-secondary;
  color: $color-primary;
  padding: $button-padding;
  border-radius: $button-border-radius;
  border-style: $button-border-style;
  font-family: $text-alternate;
  font-size: $button-font-size;
}
