$color-gradient-header: linear-gradient(#f8f8f8, #f2f0f0);
$color-primary: #f2f0f0;
$color-card: #ececec;
$color-secondary: #235d37;
$color-tertiary: #2f2f2f;
$color-tertiary-alt: #343434;

$text-alternate: 'Akshar', sans-serif;
