@use '../../styles/variables' as *;

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 25px 10px 0 10px;

  .article-card {
    width: calc((100% / 1) - 20px);
    margin-bottom: 10px;
    text-decoration: none;
    color: $color-tertiary;
    min-height: 70vh;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 20px;

    &:hover {
      transform: scale(1.05); /* Agrandir la carte au survol */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px; /* Ajouter une ombre au survol */
    }

    img {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      height: 50vh;
      width: 100%;
      transition: filter 0.3s;
      object-fit: cover;
    }
    .content {
      background-color: $color-card;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      padding: 15px 0 10px 10px;
      min-height: 20vh;

      .placename-card {
        font-size: 1.6em;
      }
      .placecity-card {
        font-size: 1.3em;
        .zipcode {
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
      span {
        font-size: 1.6em;
      }
    }
  }
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px 0 10px 0;

  .btn-style-var {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
    transition: background-color 0.3s ease-in-out;
  }

  .btn-style-var:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

@media screen and (min-width: 551px) {
  .cards-container {
    .article-card {
      width: calc((100% / 2) - 20px);
    }
  }
}

@media screen and (min-width: 951px) {
  .cards-container {
    .article-card {
      width: calc((100% / 3) - 20px);
    }
  }
}

@media screen and (min-width: 1129px) {
  .cards-container {
    .article-card {
      width: calc((100% / 4) - 20px);
    }
  }
}

@media screen and (min-width: 1641px) {
  .cards-container {
    .article-card {
      width: calc((20%) - 20px);
    }
  }
}

@media screen and (min-width: 1881px) {
  .cards-container {
    .article-card {
      width: calc((100% / 6) - 20px);
      min-height: 65vh;

      .content {
        min-height: 15vh;
        .placename-card {
          font-size: 1.7em;
        }
        .placecity-card {
          font-size: 1.4em;
          .zipcode {
            font-size: 1.4rem;
            font-weight: 500;
          }
        }
        span {
          font-size: 1.6em;
        }
      }
    }
  }
}
