@use '../../../styles/variables' as *;

.footer-container {
  background-color: $color-tertiary;
  font-family: $text-alternate;
  padding: 50px 0;
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: $color-primary;
  }
}

@media screen and (min-width: 551px) {
  .footer-container {
    gap: 50px;
  }
}

@media screen and (max-width: 550px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
