@use '../../../styles/variables' as *;

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Akshar', sans-serif;

  .logo {
    width: 25%;
  }

  .search-container {
    display: flex;
    padding-left: 30px;

    input {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border: 1px solid $color-tertiary;
      border-right: none;
      width: 80%;
      padding: 5px 20px;
      background-color: $color-primary;

      &:focus {
        outline: none;
      }
    }
    .search-btn {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border: 1px solid $color-tertiary;
      border-left: none;
      padding: 5px 20px;
      background-color: $color-primary;
    }
  }
  .suggest-menu-container {
    display: none;
  }
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 10px;

  ::-webkit-scrollbar {
    display: none; /* scrollbar hiding for Chrome */
  }

  .previous-btn,
  .next-btn,
  .filter-btn {
    display: none;
  }

  .categories-container {
    width: 100%;

    .categories-list {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: space-between;
      gap: 35px;
      overflow-x: auto;
      scrollbar-width: none; /* scrollbar hiding for Firefox */

      .category-item {
        &:hover {
          color: $color-secondary;
          transform: scale(1.1);
        }
        &:focus {
          color: $color-tertiary;
          transform: scale(1.1);
        }
        svg {
          width: 100%;
          font-size: 2rem;
          color: $color-tertiary;
          transition: 1s;
          &:hover {
            color: $color-secondary;
            transition: 0.2s;
          }
        }
        .category-name {
          font-size: 0.8em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        &:hover {
          color: $color-secondary;
          transition: 0.2s;
        }
      }
      .category-item--active {
        color: $color-secondary;
        transition: 0.2s;
        border-bottom: 2px solid rgba(47, 47, 47, 0.4);
        svg {
          color: $color-secondary;
          transition: 0.2s;
        }
      }
    }
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.mobilebar-container {
  background-color: $color-primary;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #d6d6d6;
  width: 100%;
  padding: 5px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mobilebar-container .menu-btn,
.mobilebar-container .filter-btn,
.mobilebar-container .home-mobile-btn {
  border-style: none;
  svg {
    width: 100%;
    font-size: 2rem;
    color: $color-tertiary;
    background-color: $color-primary;
  }
}

.mobilebar-container.hidden {
  animation: fadeOut 0.2s ease-in-out forwards;
}

@media screen and (min-width: 551px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;

    .logo {
      width: 20%;
    }
    .suggest-menu-container {
      display: flex;

      .suggest-btn,
      .menu-btn {
        display: none;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(47, 47, 47, 0.2);

    .logo {
      width: 20%;
    }
    .suggest-menu-container {
      display: flex;

      .suggest-btn {
        display: none;
      }
      .menu-btn {
        display: flex;
        gap: 5px;
        border-style: none;
        border-radius: 30px;
        padding: 5px 10px;
      }
    }
  }
  .mobilebar-container {
    display: none;
  }
}

@media screen and (min-width: 951px) {
  .navbar-container {
    .logo {
      width: 20%;
    }
    .suggest-menu-container {
      gap: 50px;
      .suggestLink-navbar {
        text-decoration: none;
        .suggest-btn {
          display: block;
          background-color: $color-secondary;
          color: $color-primary;
          padding: 5px 50px;
          border-radius: 30px;
          border-style: none;
          font-size: 1.1em;
        }
      }
      .menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
      }
    }
  }
  .filter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 10px;

    .filter-btn {
      display: block;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border-style: none;
      border-radius: 30px;
      color: $color-primary;
      background-color: $color-secondary;
      padding: 5px 20px;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s;
      transition: background-color 0.3s ease-in-out;

      svg {
        display: none;
      }
    }

    .filter-btn:hover {
      transform: scale(1.1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .categories-container {
      width: 92%;

      .categories-list {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
      }
    }
  }
}

@media screen and (min-width: 1174px) {
  .filter-container {
    .filter-btn {
      gap: 3px;
      svg {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1641px) {
  .navbar-container {
    .logo {
      width: 15%;
    }
  }
  .filter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
    .filter-btn {
      svg {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1881px) {
  .navbar-container {
    .logo {
      width: 10%;
    }
  }
}
